#color-palette {
  height: 100px;
  width: 340px;
}

#color-palette div {
  display: inline-block;
  border: 1px solid black;
  height: 80px;
  width: 80px;
}

#clear-board {
  margin-bottom: 15px;
}

#pixel-board {
  margin-left: 5px;
}

.color:nth-child( 1 ) {
  background-color: black;
}

.color:nth-child( 2 ) {
  background-color: yellow;
}

.color:nth-child( 3 ) {
  background-color: blue;
}

.color:nth-child( 4 ) {
  background-color: green;
}

.pixel {
  display: inline-block;
  border: 1px solid black;
  background-color: white;
  height: 40px;
  width: 40px;
  margin-left: -5px;
  margin-bottom: -5px;
}
